In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import expr
from pyspark import SparkContext, SparkConf

In [2]:
# create spark session to work with dataframe
spark = SparkSession.builder.\
        appName("fifa-pipeline").\
        master('spark://spark-master:7077').\
        config("spark.executor.memory","512mb").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/24 21:49:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
fifa_df = spark.read.option('header','true').csv('./raw_data/players_20.csv')

In [5]:
fifa_df.select("short_name","age","nationality","club","player_positions","team_jersey_number","value_eur").\
    where("nationality == 'Peru'").\
    orderBy("value_eur",ascending=0).\
    show()

+------------+---+-----------+--------------------+----------------+------------------+---------+
|  short_name|age|nationality|                club|player_positions|team_jersey_number|value_eur|
+------------+---+-----------+--------------------+----------------+------------------+---------+
|   A. Succar| 23|       Peru|       CD Huachipato|              ST|                24|   900000|
|  R. Ruidíaz| 28|       Peru| Seattle Sounders FC|              ST|                 9|  8000000|
|    I. Bulos| 26|       Peru|         Boavista FC|              ST|                29|   800000|
|    R. Tapia| 23|       Peru|           Feyenoord|         CDM, CM|                20|  7000000|
|  G. Dulanto| 23|       Peru|         Boavista FC|              CB|                13|   675000|
| J. Martínez| 24|       Peru|      CF Fuenlabrada|          ST, LM|                 9|   650000|
|    Y. Yotún| 29|       Peru|           Cruz Azul|      CM, LM, LB|                19|  5500000|
|   M. Trauco| 26|       Peru|    AS Saint-Étienne|          LB, LM|                13|  5500000|
|I. Santillán| 28|       Peru|Tiburones Rojos d...|          LB, LM|                15|   550000|
|   P. Aquino| 24|       Peru|           Club León|         CDM, CM|                18|  4900000|
|    M. López| 19|       Peru|San Jose Earthquakes|              LB|                27|   475000|
|   J. Ballón| 31|       Peru|CD Universidad de...|         CDM, CM|                 5|   475000|
|L. Advíncula| 29|       Peru|      Rayo Vallecano|         RB, RWB|                17|  4600000|
|   J. Farfán| 34|       Peru|    Lokomotiv Moscow|          RM, ST|                 8|  4500000|
|    L. Abram| 23|       Peru|     Vélez Sarsfield|              CB|                29|  4400000|
|  P. Hurtado| 28|       Peru|    Atiker Konyaspor|             CAM|                16|  4000000|
|C. Benavente| 25|       Peru|           FC Nantes|     CAM, LM, CF|                10|  4000000|
|  A. Callens| 27|       Peru|    New York City FC|              CB|                 6|  2600000|
|     S. Peña| 23|       Peru|            FC Emmen|         CAM, CM|                19|  2400000|
|    Y. Reyna| 25|       Peru|Vancouver Whiteca...|          CF, RW|                29|  2200000|
+------------+---+-----------+--------------------+----------------+------------------+---------+
only showing top 20 rows

In [6]:
fifa_df.createOrReplaceTempView("fifa_tbl")

22/01/14 17:43:27 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [7]:
spark.sql("select sofifa_id, short_name, age, nationality, club, team_jersey_number from fifa_tbl").show()

+---------+-----------------+---+-----------+-------------------+------------------+
|sofifa_id|       short_name|age|nationality|               club|team_jersey_number|
+---------+-----------------+---+-----------+-------------------+------------------+
|   158023|         L. Messi| 32|  Argentina|       FC Barcelona|                10|
|    20801|Cristiano Ronaldo| 34|   Portugal|           Juventus|                 7|
|   190871|        Neymar Jr| 27|     Brazil|Paris Saint-Germain|                10|
|   200389|         J. Oblak| 26|   Slovenia|    Atlético Madrid|                13|
|   183277|        E. Hazard| 28|    Belgium|        Real Madrid|                 7|
|   192985|     K. De Bruyne| 28|    Belgium|    Manchester City|                17|
|   192448|    M. ter Stegen| 27|    Germany|       FC Barcelona|                 1|
|   203376|      V. van Dijk| 27|Netherlands|          Liverpool|                 4|
|   177003|        L. Modrić| 33|    Croatia|        Real Madrid|                10|
|   209331|         M. Salah| 27|      Egypt|          Liverpool|                11|
|   231747|        K. Mbappé| 20|     France|Paris Saint-Germain|                 7|
|   201024|     K. Koulibaly| 28|    Senegal|             Napoli|                26|
|   202126|          H. Kane| 25|    England|  Tottenham Hotspur|                10|
|   212831|          Alisson| 26|     Brazil|          Liverpool|                 1|
|   193080|           De Gea| 28|      Spain|  Manchester United|                 1|
|   215914|         N. Kanté| 28|     France|            Chelsea|                 7|
|   138956|     G. Chiellini| 34|      Italy|           Juventus|                 3|
|   153079|        S. Agüero| 31|  Argentina|    Manchester City|                10|
|   155862|     Sergio Ramos| 33|      Spain|        Real Madrid|                 4|
|   176580|        L. Suárez| 32|    Uruguay|       FC Barcelona|                 9|
+---------+-----------------+---+-----------+-------------------+------------------+
only showing top 20 rows

In [8]:
spark.stop()